.cart-icon-container {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  .cart-icon {
    height: 40px;
    width: 40px;
  }

  .item-count {
    position: absolute;
    top: 15px;
  }
}
