.cart-dropdown-container {
  display: flex;
  flex-direction: column;
  height: 450px;
  width: 350px;
  position: absolute;
  right: 13px;
  top: 70px;
  border: 2px solid black;
  background-color: white;
  padding: 20px;
  z-index: 1;

  .cart-items {
    display: flex;
    flex-direction: column;
    height: 380px;
    overflow: auto;
  }

  .empty-warning {
    font-size: 25px;
    margin: auto;
  }

  .checkout-button {
    margin: 0 auto;
  }
}
