.cart-icon-container {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  .cart-icon {
    height: 35px;
    width: 35px;
  }

  .item-count {
    position: absolute;
    top: 12px;
  }
}
