.sign-in-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .button-group {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    Button {
      margin-bottom: 10px;
    }
  }

  i {
    text-decoration: underline;
    color: green;
  }
}
