.sign-in-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;

  .button-group {
    display: flex;
    flex-direction: column;
    margin: 20px;

    Button {
      margin-bottom: 10px;
    }
  }
}
