.preview-container {
  margin-top: 40px;
  text-align: center;

  .main-preview-container {
    margin-top: 40px;

    h2 {
      text-transform: capitalize;
    }

    .main-preview {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 20px;
      margin: 0px auto;
      max-width: 1060px;
    }
  }
}
