.nav-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 5;
  background-color: white;
  top: 45px;
  padding: 15px;

  .dropdown-link {
    padding: 10px;
    &:hover {
      text-decoration: underline;
      color: #4e944f;
    }
  }
}
