.nav-link-container {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  position: relative;
  margin: 0 20px;

  .logo {
    display: flex;
    align-items: center;
  }
  .search-box {
    margin: auto 30px;
    display: flex;
    flex-direction: row;
    align-items: center;

    input {
      height: 40px;
      width: 300px;
      border-radius: 15px;
      transform: scaleX(0);
    }

    input.active {
      transform: scaleX(1);
      transition: transform 0.5s ease;
    }

    i {
      font-size: larger;
      cursor: pointer;
      padding-left: 10px;
    }
  }

  .links-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .nav-link {
    cursor: pointer;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    margin-right: 15px;

    &:hover {
      text-decoration: underline;
      color: #4e944f;
    }

    &.auth-button {
      border: 1px solid #4e944f;
      padding: 10px;

      &:hover {
        background-color: #4e944f;
        color: white;
      }
    }

    .nav-dropdown-container {
      position: relative;
    }

    .nav-shopping {
      cursor: default;
    }
  }

  .my-account {
    position: relative;

    .account-dropdown {
      position: absolute;
      top: 40px;
      right: 0;
      padding: 15px;
      width: 150px;
    }

    .dropdown-link {
      font-size: 15px;
      font-weight: bold;
      margin-bottom: 10px;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
        color: #4e944f;
      }
    }

    .nav-link {
      text-align: center;
    }
  }
}
