.nav-link-container {
  display: flex;
  justify-content: space-between;
  height: 70px;
  margin-bottom: 20px;
  position: relative;

  .links-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .nav-link {
    cursor: pointer;
    padding: 10px;
    font-weight: bold;

    &.auth-button {
      border: 1px solid green;
      padding: 10px;

      &:hover {
        background-color: green;
        color: white;
      }
    }

    .nav-dropdown-container {
      position: relative;
    }

    .nav-shopping {
      cursor: default;
    }
  }
}
