.checkout-item-container {
  display: flex;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid darkgrey;
  padding: 15px 0;

  .checkout-item-img {
    width: 15%;
    padding-right: 15px;
  }

  .name,
  .quantity {
    width: 18%;
  }

  .item-total {
    width: 20%;
    padding-left: 50px;
  }

  .price {
    width: 16%;
    padding-left: 20px;
  }

  .remove-button {
    padding-left: 50px;
    cursor: pointer;
    font-size: 20px;
  }

  .quantity-button {
    padding: 10px;
    cursor: pointer;
  }
}
