.checkout-container {
  width: 70%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .checkout-header-container {
    display: flex;
    flex-direction: row;
    border-bottom: 3px solid black;
    width: 100%;
    justify-content: space-between;
    font-size: 30px;
    font-weight: bold;
  }
}
