.footer-container {
  background-color: green;
  color: white;
  text-align: center;
  min-height: 300px;
  position: relative;

  .contact-us {
    padding: 50px;
    font-size: 40px;
  }

  .copyright {
    position: absolute;
    bottom: 5px;
    padding: 0 45%;
  }
}
