.footer-container {
  background-color: #83bd75;
  color: white;
  text-align: center;
  height: 300px;
  position: absolute;
  width: 100%;

  .contact-us {
    padding: 50px;
    font-size: 40px;
  }

  .copyright {
    bottom: 5px;
    padding: 0 45%;
  }
}
